*{
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: rgb(6, 68, 70);
}
h1{
  background-color: #081b31;
  color: white;
  height: 5rem;
  line-height:5rem;
}

.choice{

height: 170px;
width: 170px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;

}
.choice:hover{
    opacity: 0.85;
    background-color: yellow;
    cursor: pointer;
}

img{
    height: 160px;
    width: 160px;
   object-fit: cover;
   border-radius: 50%;
}

.choices{
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    gap: 1.7rem;

}
.Score-board{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  margin-top: 3rem;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:720;
  font-size: 2.5rem;
}


.msg-container{
    margin-top: 3rem;
}

#msg{
    color: white;
    display: inline;
    background-color: #081b31;
    font-size:2rem;
    padding:1rem;
    border-radius: 1rem;
    
   
}

.reset-container{
    margin-top: 3rem;
}

#Reset{
    color: #081b31;
    margin-top: 3rem;
    background-color: #fff;
    font-size: 1.5rem;
    display: inline;
    padding: 0.8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 8px;
    line-height: 1rem;
    font-weight: 580;
}
#Reset:hover{
    cursor: pointer;
}